body{
    background-color: rgb(145, 179, 219); 
}
header{
    /* position: fixed; */
    font-size: 35px;
    /* top: -35px;
    left: 0; */
    grid-column: 1 / 4;
    grid-row: 1 / 1;
}
h1, h2, h3{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: xx-large;
}
p{
    font-size: larger;
    margin-bottom: 10%;
}
.pageSuiv{
    text-align: end;
    align-content: flex-end;
    position: absolute;
    right: 5px;
    bottom: 0;
}

.mainBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr;
    margin: -10px 20% 5px 20%;
    justify-self: center;
    background-color: rgb(127 155 255);
    border-radius: 15px;
}

.menu ul{
    background-color: rgb(45, 76, 218);
    border-radius: 0 15px 15px 0;
    display:flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content:space-evenly;
    font-family:cursive;   
}
.menu li{
    list-style-type: none;
    display: inline-flex;
    padding: 20px;
}
.menu li:hover{
    transform: scale(200%);
    color: blueviolet;
}


img{
    grid-column: auto;
    width: 80%;
    height: 80%;
}
.maPhoto img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

section{
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgba(128, 128, 128, 0.322);
    border-radius: 10px;
    margin: 1%;
    padding: 20px; 
}
section:hover{
    transform: scale(120%);
    transition: ease, 2s;
}
.maPhoto{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}
.aboutMe{
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    text-align: center;
    position: relative;
}
.propos{
    grid-column: 3 / 4;
    grid-row: 2 / 2;
    text-align: center;
    position: relative;
}
.paragraph{
    grid-column: 1 / 4;
    grid-row: 3 / 3;
    text-align: center;
}
.divers{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    height: fit-content;
    font-size: 20px;
    justify-content: center;
}
.divers:hover{
    transform: translateY(-250px);
    transition: ease, 1s;
    transform: scale(120%);
    transition: ease, 2s;
}
.imgPosition{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-column: 2 / 4;
    grid-row: 2 / 2;
    justify-items: center;
    align-items: center;
    height: fit-content;
}
.gears{
    grid-column: 1 / 4;
    grid-row: 3 / 3;
    font-size: larger;
}
.gears td{
    text-align: center;
}
.gears li{
    list-style-type: none;
}
.skills{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}
.atouts{
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}
.experience{
    grid-column: 1 / 4;
    grid-row: 3 / 3;
}
.formation{
    grid-column: 1 / 4;
    grid-row: 4 / 4;
}

.pageUp{
    width: 50px;
    height:50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 0;
    bottom: 0;
}
footer{
    position: static;
    bottom: 0;
    background-color: #FFF;
    display: flex;
    justify-content: space-evenly;
    margin: 0 20% 5px 20%;
    border-radius: 0% 5px;
}

@media screen and (max-width:360px)  {
    .menu li{
        list-style-type: none;
        display: inline-flex;
        padding: 20px;
    }
    .mainBody{
        display: flex;
        flex-direction: column;
        margin: 40px 0px 20px 0px;
        font-size: 35px;
        justify-content: center;
    }
}
@media screen and (max-width:768px)  {
    .mainBody{
        display: flex;
        flex-direction: column;
        margin: 40px 15px 20px 15px;
        font-size: 25px;
        justify-content: center ;
    }
    header{
        position: fixed;
        font-size: 35px;
        top: -35px;
        left: 0;
        background-color: transparent;
    }
    
    .menu ul{
        flex-direction: column;
    }
    #menu{
        transform: translateX(-70%);
    }
    .menu li{
        font-size: 15px;
        list-style-type: none;
        display: inline-flex;
        padding: 20px;
    }

    .divers{
        font-size: 12px;
        justify-content: center;
    }
    .imgPosition{
        margin-top: 20px;
        justify-items: center;
    }
    .gears{
        font-size: 12px;
    }
}
@media screen and (max-width:1200px)  {
    .mainBody{
        margin: 40px 75px 20px 75px;
        font-size: 20px;
    }     
    header{
        position: fixed;
        font-size: 35px;
        top: -35px;
        left: 0;
        background-color: transparent;
    }
    .menu ul{
        flex-direction: column;     
    }    
    #menu{
        transform: translateX(-70%);
    }
}
