body{
    background-color: rgb(141, 195, 245);
    color: white;
}
header{
    position:relative;
    font-size: 35px;
}
h1, h2, h3{
    color: rgb(0, 0, 0);
    font-family: monospace;
}

.menu ul{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    font-family:cursive;
}
.menu li{
    list-style-type: none;
    display: inline-flex;
    padding: 20px;
}
.menu li:hover{
    transform: scale(200%);
    color: blueviolet;
}

.mainBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 40px 150px 20px 150px;
    justify-self: center;
}
img{
    width: 80%;
    height: 80%;
}

section{
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(12, 100, 201);
    border-radius: 10px;
    margin: 1%;
    padding: 20px; 
}
section:hover{
    transform: scale(120%);
    transition: ease, 2s;
}
.aboutMe, .propos, .paragraph, .skills, .atouts{
    text-align: center;
}
.divers{
    height: fit-content;
    font-size: 20px;
    justify-content: center;
}
.divers:hover{
    transform: translateY(-250px);
    transition: ease, 1s;
    transform: scale(120%);
    transition: ease, 2s;
}
.aboutMe{
    grid-column: 1 / 1;
    grid-row: 1 / 4;
}
.propos{
    grid-column: 2 / 4;
    grid-row: 2 / 2;
}
.paragraph{
    grid-column: 1 / 4;
    grid-row: 4 / 4;
}
.imgPosition{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center; 
}
.gears{
    font-size: 20px;
}
.gears td{
    text-align: center;
}
.gears li{
    list-style-type: none;
}
footer{
    position: static;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.185);
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:360px)  {
    .menu li{
        list-style-type: none;
        display: inline-flex;
        padding: 20px;
    }
    .mainBody{
        margin: 40px 0px 20px 0px;
        font-size: 35px;
        justify-content: center;
    }
}
@media screen and (max-width:768px)  {
    .menu li{
        font-size: 15px;
        list-style-type: none;
        display: inline-flex;
        padding: 20px;
    }
    .mainBody{
        margin: 40px 15px 20px 15px;
        font-size: 25px;
        justify-content: center ;
    }
    .divers{
        font-size: 12px;
        justify-content: center;
    }
    .imgPosition{
        margin-top: 20px;
        justify-items: center;
    }
    .gears{
        font-size: 12px;
    }
}
@media screen and (max-width:1200px)  {
    .mainBody{
        margin: 40px 75px 20px 75px;
        font-size: 20px;
    } 
}
