body{
    background-color: grey;
    color: white;
}

header{
    background-color: rgb(16, 73, 230);
    position:relative;
    font-size: 35px;
}

.mainBody{
    margin: 40px 150px 20px 150px;
}

.mainBody div{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

section{
    background-color: rgb(12, 100, 201);
    margin-top: 50px;
    margin-left: 20px;
    padding: 15px;  
}

.skills, .atouts{
    justify-self: center;
}
.divers{
    grid-column: 1 / 3;
}

.menu ul{
    display:flex;
    justify-content:space-evenly;
    font-family:cursive;
}

.menu li{
    list-style-type: none;
    display: inline-flex;
    padding: 20px;
}
.menu li:hover{
    transform: scale(200%);
    color: blueviolet;
}

footer{
    position: static;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.185);
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:360px)  {
    .mainBody{
        margin: 40px 0px 20px 0px;
        font-size: 35px;
    }
}
@media screen and (max-width:768px)  {
    .mainBody{
        margin: 40px 15px 20px 15px;
        font-size: 25px;
    }
}
@media screen and (max-width:1200px)  {
    .mainBody{
        margin: 40px 75px 20px 75px;
        font-size: 20px;
    } 
}


